
.textBodyPreview {
    max-height: 8vh;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, white 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, white 50%, transparent 100%);
}
.textOverflow {
    text-overflow: ellipsis;
}

.cardLinks {
    text-decoration: none;
}

.boardCardActions {
    position: absolute;
    bottom: 1vh;
    width: 100%;
}